version: "3.9"

services:

  api:
    container_name: api
    build: .
    command: uvicorn src.main:app --reload --host 0.0.0.0 --port 8000
    depends_on:
      - postgresql
    ports:
      - "8000:8000"
    volumes:
      - .:/code
    networks:
      - backend
    env_file:
      - .env

  postgresql:
    container_name: postgresql
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./data/postgres:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - backend
    restart: unless-stopped

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    depends_on:
      - postgresql
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - backend
    restart: unless-stopped


volumes:
  api:
  postgresql:
  pgadmin:


networks:
  backend:
    driver: bridge